
.container-fluid, .title {
  z-index: -1;
}

.header-title{
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
/* .footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0%;
} */
