
<div class="container-fluid" >
  <div style="text-align:center" id="main-body">
<div class="header-title">
    <app-header></app-header>
</div>

<section class="box white-box hero" id="about">
  <img id="boxshadow"alt="ProPic" src="../assets/images/raxitPro.ico" class="thumb" />
  <h1>Raxit Patel</h1>
  <h2>Front End Developer and UX Design</h2>
  <p>4+ years of experience focused on interactive software development as Web developer / UI Front End Developer; focusing on HTML5, CSS3, jQuery, JS, AngularJS, ANgular 2+, NodeJs, C# and .Net Core . I am experienced in architecting and developing large scale web applications.</p>

</section>
    <!-- <img width="300" id="boxshadow"alt="ProPic" src="../assets/images/raxitPro.ico"> -->
    <div id="emplyBlock"></div>

    <app-portfolio-info></app-portfolio-info>
  </div>

  <router-outlet></router-outlet>
</div>
<footer class="footer">
    <app-footer></app-footer>
  </footer>


