<div id="Portfolio" class="box effect8">
    <div class="inner">
        <!-- <div class="Portfolio_title">
            <h2>Raxit Patel</h2>
            <h4>Web Developer - Full Stack</h4>
        </div> -->
        <!-- <table class="portfolio_content">

            <tr>
                <td>Degree</td>
                <td class="one">:</td>
                <td>MS in Computer Information Science</td>
                <td>MS in Electrical & Electronics Engineering</td>
            </tr>
            <tr>
                <td>Skills</td>
                <td class="one">:</td>
                <td>HTML, CSS, Javascript, jQuery, Angularjs, Angular2+, </td>
                <td> NodeJs, ASP.NET Core2.0, MVC, SQL, MYSQL</td>
            </tr>
        </table> -->
    </div>
    </div>
