<h3 id="experience">Experience</h3>
		<section>
			<ul class="timeline">
				<li class="box">
          <strong>Full Stack Developer, <a href="https://ribboncommunications.com/" target="_blank" class="link">Ribbon Communication - Morrisville, NC</a> </strong>
          <span>Feb, 2018 - Present</span>
					<p>Working on Eagle Application for continuous development, designing and gathering all project requirements as a Full Stack Developer. Build Application design and technical specification, in alignment with application architecture and framework, based on business functional and non-functional requirements.</p>
				</li>

				<li class="box">
					<strong>FRONT END DEVELOPER, <a class="link" href="https://www.akc.org/" target="_blank">AKC, Raleigh - NC</a></strong>
					<span>July, 2017 - Jan 2018</span>
          <p>Developer and implemented effective solutions that are integrated to AKC’s Information technology standards as per structure.</p>
          <p>Designed Front-End Application with Object Oriented Typescript with standard Framework using Angular2 and Angular4. Migrating Application from Angular 1.x to Angular 2 and 4 using ng-upgrade. Involved in designing and deploying an applications utilizing almost of the AWS Stack, Used GZIP with AWS cloud front to forward compressed files to nodes.
            </p>
				</li>

				<li class="box">
					<strong>Web Analytics Developer <a class="link" href="https://www.metlife.com/" target="_blank">MetLife, Cary - NC</a></strong>
					<span>Nov 2016 - July 2017</span>
					<p>Detailed discussions with the System Analysts to identify the technical requirements.
            Articulated business strategy and branding issues and balanced these with user needs and technological constraints.
            Traffic Validation of Different MetLife Application Globally on Dynatrace, Adobe Analytics, HP RUM and Google Analytics, Validation for Response Time, Failure Rate, Transaction Period and Satisfied or Frustrated Users.
            Major work was done in C#, ASP.net; Created Web forms for User details, User personal details.
            Preparing Global Digital Analytics Dashboard for Different data, by making http, GET and Post request using API and Web Services from different tools, first we stored data in to Dynamic Table for various properties and using those data it will display graphical layout in Bar Chart, Pie Chart, Donut Charts and Animation Graphical representation with the help of D3js and AngularJS (1.5 and 2.0); to make better Single Page Application working on Node.js server.
            </p>
				</li>

				<li class="box">
					<strong>Front-End Developer, <a class="link" href="http://continentalhotels.ro/Continental-Forum-Arad/en/" target="_blank">At&t, Durham - NC</a></strong>
					<span>July, 2016 - Nov 2016</span>
					<p>Worked closely with internal clients to define business objectives, project scope, solution space and design/development approach for various knowledge research applications.
            Responsible for creating the screens with table-less designs meeting W3C standards.
            Designed dynamic and browser compatible pages using HTML4/5, DHTML, CSS2/3, JQuery and JavaScript.
            Participated in development of a well responsive Single Page Application using AngularJS and ReactJS framework and JavaScript in conjunction with HTML5, CSS3 Standards with Front End UI Team. 
            Designed and implemented using Twitter Bootstrap framework.
            Working with AngularJS to write custom directives for DOM Manipulation.
            Used Angular UI library for its components and UI router features.
            </p>
				</li>
			</ul>
		</section>
