


<div class="rounded-social-buttons">
    <a class="social-button facebook" href="https://www.facebook.com/RaExciting" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a class="social-button twitter" href="https://twitter.com/raxitp28" target="_blank"><i class="fab fa-twitter"></i></a>
    <a class="social-button linkedin" href="https://www.linkedin.com/in/raxitp02/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a class="social-button github" href="https://github.com/raxitp02" target="_blank"><i class="fab fa-github"></i></a>
    <a class="social-button instagram" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
</div>
